@import url('https://fonts.googleapis.com/css2?family=Actor&display=swap');
@font-face {
  font-family: 'iconfont';  /* Project id 3029545 */
  src: url('//at.alicdn.com/t/font_3029545_q4f1fvl8bfq.woff2?t=1641283999222') format('woff2'),
       url('//at.alicdn.com/t/font_3029545_q4f1fvl8bfq.woff?t=1641283999222') format('woff'),
       url('//at.alicdn.com/t/font_3029545_q4f1fvl8bfq.ttf?t=1641283999222') format('truetype');
}
  .iconfont {
    font-family: 'iconfont' !important;
    font-size: 0.16rem;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }