$content_fontColor: #333;
$medium-fontColor:#666;
$light-fontColor:#999;
$content_notice_fontColor: #777;

$bgColor:#ffff;
$content_bgColor: #f1f1f1;
$search-bgColor: #eef1f499;
$search-fontColor: #b7b7b7;
$hightLight-fontColor: #e93b3b;

$content_labelColor: #ffda00;


